<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加号码</title>
    <style>
        .nav_bottom{
            float: left;
            position: fixed;
            bottom: 0;
            left: 0;
            height: 50px;
            width: 100%;
            background-color: #0f0;
        }

        .nav_bottom>li{
            float: left;
            height: 50px;
            width: 25%;
            text-align: center;
            line-height: 50px;
            list-style-type: none;
        }
    </style>
</head>
<body>
    <h1>测试</h1>
    <div class="nav_bottom">
            <li>
                <a href="{{ url_for('index') }}">首页</a>
            </li>
            <li>搜索</li>
            <li>
                <a href="{{ url_for('add_number') }}">添加</a>
            </li>
            <li>我的</li>
        </div>
</body>
</html>